body
{
    background: #3f323e;
    color: rgb(63, 11, 68);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background-color: rgb(161, 135, 173);
    box-shadow: 0px 2px 25px 0px rgba(73, 49, 82, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    text-align: center;
    font-size: 45px;
    font-family: "Abril Fatface", serif;
    font-weight: normal;
    font-style: normal;
    
}

#cabecera #logo
{
    width: 50px;
    vertical-align: middle;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.7em;
    
}

#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #000000;
    margin: 0 auto;
}

#container h1
{
    font-size: 30px;
}

#post
{
    background: white;
    padding: 1em;
    text-align: center;
}

#footer
{
    background-color: rgb(161, 135, 173);
    color: antiquewhite;
    text-align: center;
    padding: 0.5em;
}